* Karthika Namboothiri
* October 31, 2020
* Homework 2, Part 1

**Part One: Lists**

In [17]:
num_list = [22,90,0,-10, 3, 22, 48]

In [18]:
print("Number of elements in the list:", len(num_list))

Number of elements in the list: 7

In [19]:
print("Fourth element in list:", num_list[3])
print("Sum of 2nd and 4th variable:", num_list[1]+ num_list[3])

Fourth element in list: -10
Sum of 2nd and 4th variable: 80

In [21]:
num_list_sorted =sorted(num_list)
print(num_list_sorted)

[-10, 0, 3, 22, 22, 48, 90]

In [23]:
print("Second largest value in list is", num_list_sorted[-2])

Second largest value in list is 48

In [25]:
print("Last element in original list:", num_list[-1])
print("Sum of all numbers divided by 2:", sum(num_list)/2)

Last element in original list: 48
Sum of all numbers divided by 2: 87.5

In [27]:
import statistics
med_list = statistics.median(num_list_sorted)
mean_list= statistics.mean(num_list_sorted)
if med_list > mean_list:
    print("Median of the list is higher number than Mean")
else: print ("Mean of the list is a higher number than Median")

Mean of the list is a higher number than Median

**Part One: Dictionaries**

In [28]:
movie = {'title': 'Ratatouille', 'year': 2007, 'director': 'Brad Bird'}

In [30]:
movie['budget'] = 150000000
movie['revenue'] = 620700000

In [36]:
leftover = format(movie['revenue'] - movie['budget'])
print("Difference between the movie's budget and revenue is:", leftover)
if (movie['revenue']> movie['budget']):
    print("That was a great investment")
elif (movie['revenue'] < movie['budget']):
    print("That was a bad investment")
else: print("That was an okay investment")

Difference between the movie's budget and revenue is: 470700000
That was a great investment

In [37]:
nyc_pop_by_borough = {'Manhattan': 1600000, 'Brooklyn': 2600000, 'Bronx': 1400000, 'Queens':2300000, 'Staten island': 470000}

In [38]:
print("The population of Brooklyn is:", nyc_pop_by_borough["Brooklyn"])

The population of Brooklyn is: 2600000

In [50]:
sum_nyc_pop = 0
for i in nyc_pop_by_borough:
    sum_nyc_pop = sum_nyc_pop + nyc_pop_by_borough[i]
print("Combined population of five boroughs:", sum_nyc_pop)

Combined population of five boroughs: 8370000

In [53]:
man_pop = round(nyc_pop_by_borough['Manhattan']/sum_nyc_pop *100,1)
print("Population in Manhattan:", man_pop ,"%")

Population in Manhattan: 19.1 %